.button--desktop {
  @extend %button;
  display: none;

  @media screen and (min-width: $laptop) {
    display: inline-block;
    min-width: 238px;
    padding: 16px 32px;
    font-size: 18px;
  }
}

.button--mobile {
  @extend %button;
  margin-top: 48px;

  @media screen and (min-width: $laptop) {
    display: none;
  }
}

.button-submit {
  @extend %button;
}
