.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;

  padding: 16px 24px;

  background-color: var(--lightColor);
  background-image: url('../img/bg-mobileMenu.png');
  background-position: right bottom;
  background-repeat: no-repeat;

  transform: translateX(150%);
  transition: transform var(--duration) var(--timingFunction);

  & .logo__svg--color-dark {
    color: var(--darkColor);
  }
}

.mobile-nav--open {
  transform: translateX(0);
}

.mobile-nav__list {
  padding-top: 32px;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 16px;
}

.mobile-nav__link {
  transition: color var(--duration) var(--timingFunction),
    font-weight var(--duration) var(--timingFunction);
  &:hover,
  &:focus {
    color: var(--accentColor);
    font-weight: 600;
  }
}
