html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--lightColor);
  color: var(--darkColor);
  font-family: var(--fontMain);
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;

  &.modal-open {
    overflow: hidden;
  }
}

a {
  color: currentColor;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.section {
  padding-top: 40px;

  @media screen and (min-width: $tablet) {
    padding-top: 60px;
  }

  @media screen and (min-width: $laptop) {
    padding-top: 96px;
  }
}

.section__title {
  margin-bottom: 24px;
  font-size: 32px;
  font-weight: 900;
  line-height: 1.3;

  @media screen and (min-width: $laptop) {
    font-size: 64px;
    font-weight: 700;
  }
}

.icon {
  fill: currentColor;
}

.accent-color {
  color: var(--accentColor);
}
