:root {
  --container-width: 1280px;
  --container-padding: 20px;

  // Fonts
  --font-main: 'Poppins', sans-serif;

  // Colors
  --page-bg: #faf4ea;
  --section-bg: #cfcfbc;
  --text-color: #31261a;
  --accentColor: #819b57;
  --secondaryColor: #a18268;
  --hoverColor: #465929;
  --backdrop-bg: rgba(49, 38, 26, 0.4);

  //Animation Properties
  --duration: 300ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  // Breakpoints
  --laptop: 1280px;
  --tablet: 768px;
  --mobile: 360px;
  --mobile-padding: 15px;
}
