.advantages {
  @media screen and (min-width: $tablet) {
    max-width: 1600px;
    margin: 0 auto;
    padding-top: 0;
    background-color: var(--accentColor);
  }
}

.advantages__list {
  padding: 24px 40px;
  border-radius: 24px;
  background-color: var(--sectionBg);
  color: var(--darkColor);

  @media screen and (min-width: $tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 0;
    border-radius: 0;
    background-color: transparent;
    font-size: 20px;
    color: var(--lightColor);
    text-align: center;
  }
}

.advantages__item:not(:last-child) {
  @media screen and (max-width: $tablet) {
    margin-bottom: 16px;
  }
}
