.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 16px 0;

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    @media screen and (min-width: $tablet) {
      align-items: center;
    }
  }
}
